.registrationForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  background-color: #163737;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  margin: 0 auto;
}

.formTitle {
  font-size: 28px;
  color: #446E5F;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
}

.message, .signin {
  color: #b3c1b4;
  font-size: 14px;
}

.signin {
  text-align: center;
}

.signin a {
  color: #b3c1b4;
}

.signin a:hover {
  text-decoration: underline #b3c1b4;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.registrationForm label {
  position: relative;
}

.registrationForm label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.registrationForm label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.registrationForm label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.registrationForm label .input:focus + span,.registrationForm label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.registrationForm label .input:valid + span {
  color: #b3c1b4;
}

.submitRegistration {
  border: none;
  outline: none;
  background-color: #446E5F;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: .3s ease;
}

.submitRegistration:hover {
  background-color: #08181C;
}

