button {
  font-family: monospace;
  background-color: #08181C;
  color: #3b82f6;
  border: none;
  border-radius: 8px;
  border-color: #163737;
  width: 100px;
  height: 45px;
  transition: .3s;
  margin-right: 10px;
}

button:hover {
  background-color: #2A534C;
  box-shadow: 0 0 0 3px #163737;
  color: #fff;
}
